@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width:100vw ;
}

main.container{
    background: rgb(107, 89, 209);
    min-width: 320px;
    min-height: 35vh;
    padding: 2rem;
    box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 25px 8px 25px 8px;
}

main h2{
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    color: #fff;
}    

main h2::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    bottom: 1px;
    border-radius: 10px;
    background: linear-gradient(45deg , rgb(239, 127, 211), rgb(243, 6, 6));
}    

form{
    display: flex;
    flex-direction: column;
}

.input-field{
    position: relative;
}

form .input-field:first-child{
    margin-bottom:  1.5rem;
}

.input-field .underline::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    bottom: -5px;
    left: 0;
    background-color:#fff;
}

.input-field .underline::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: -5px;
    border-radius: 5px;
    left: 0;
    background: linear-gradient(45deg , rgb(239, 127, 211), rgb(243, 6, 6));
    transform: scale(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after{
    transform: scaleX(1);
}

.input-field input{
    outline: none;
    font-size: 0.9rem;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.input-field input::placeholder{
    color: #fff;
}

form input[type="submit"]{
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 4px;
    text-transform: uppercase;
    transition:  all 0.3s ease;
}

form input[type="submit"]:hover{
    letter-spacing: 1.5px;
    color: #fff;
    background: linear-gradient(45deg , rgb(239, 127, 211), rgb(243, 6, 6));
}


